<irm-card-container (openState)="panelOpenState=$event">
  <span>Родительская заявка</span>
  <!-- <ng-container *ngIf="dataSource$ | async">
    <irm-form-factory [@bodyExpansion]="!panelOpenState ? 'collapsed': 'expanded'" [form]="form" [fields]="fields" fxLayout="row wrap" fxLayoutGap="16px"></irm-form-factory>
    <irm-short-display [@bodyExpansion]="panelOpenState ? 'collapsed': 'expanded'" [fields]="fields" fxLayout="row wrap"
      fxLayoutGap="16px">
    </irm-short-display>
  </ng-container> -->
</irm-card-container>
