:host {
  display: block;
  padding: 0 16px;
  margin-bottom: 12px;
}

.mat-chip {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  min-height: 18px;

  & button {
    border: 0;
    background-color: transparent;

    & .mat-icon {
      font-size: 12px;
      width: auto;
      height: auto;
    }
  }
}
